.container {
    background-color: var(--cinza);
    width: 300px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

}

.card {
    display: flex;
    flex-direction: column;
    width: 60%;
    font-size: 0.5rem;
}

img {
    width: 100%;
    margin: 10px 0;
}

.text {
    width: 170px;
    height: 50px;
    margin: 10px 0;
}

.title {
    color: var(--branco);
}

.average {
    color: var(--branco);
}

.star {
    color: var(--amarelo);
}

.popularity {
    color: var(--amarelo);
}

.popularity span {
    color: var(--branco);
}

.buttonOverview {
    background-color: var(--amarelo);
    color: var(--cinza);
    font-size: 1rem;
    padding: 5px;
    align-items: center;
    border-radius: 5px;
    transition: 0.4s;
    border: 2px solid var(--amarelo);
    font-weight: bold;
}

.buttonOverview:hover {
    background-color: transparent;
    color: var(--amarelo);
}