* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
  --preto: #000;
  --amarelo: #d2cc10;
  --branco: #fff;
  --cinza: #373737;
  --cinza-claro: #c5c5c5;
}

body {
  background-color: var(--preto);
}